<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link href="../CSS/main.css" rel="stylesheet" />
</head>
<body>
    <section>
        <h1>Controll Smart Home</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0" id="tableTG">
                <thead>
                    <tr>
                        <th>Area Name</th>
                        <th>Lights</th>
                        <th>Floor Heating</th>
                        <th>Alarm</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td id="livingroom">Livingroom</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="light-switch-livingroom" class="onoffswitch-checkbox" OnClick="updateHouseArea('Livingroom', $('#light-switch-livingroom'), $('#floor-heating-livingroom'), $('#alarm-livingroom'))" id="light-switch-livingroom" checked>
                                <label class="onoffswitch-label" for="light-switch-livingroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="floor-heating-livingroom" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#Livingroom'), $('#light-switch-livingroom'), $('#floor-heating-livingroom'), $('#alarm-livingroom'))" id="floor-heating-livingroom" checked>
                                <label class="onoffswitch-label" for="floor-heating-livingroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="alarm-kitchen" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#livingroom'), $('#light-switch-livingroom'), $('#floor-heating-livingroom'), $('#alarm-livingroom'))" id="alarm-livingroom" checked>
                                <label class="onoffswitch-label" for="alarm-livingroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="bedroom">Bedroom</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="light-switch-bedroom" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#bedroom'), $('#light-switch-bedroom'), $('#floor-heating-bedroom'), $('#alarm-bedroom'))" id="light-switch-bedroom" checked>
                                <label class="onoffswitch-label" for="light-switch-bedroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="floor-heating-bedroom" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#bedroom'), $('#light-switch-bedroom'), $('#floor-heating-bedroom'), $('#alarm-bedroom'))" id="floor-heating-bedroom" checked>
                                <label class="onoffswitch-label" for="floor-heating-bedroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="alarm-kitchen" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#bedroom'), $('#light-switch-bedroom'), $('#floor-heating-bedroom'), $('#alarm-bedroom'))" id="alarm-kitchen" checked>
                                <label class="onoffswitch-label" for="alarm-kitchen">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="bathroom">Bathroom</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="light-switch-bathroom" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#bathroom'), $('#light-switch-bathroom'), $('#floor-heating-bathroom'), $('#alarm-bathroom'))" id="light-switch-bathroom" checked>
                                <label class="onoffswitch-label" for="light-switch-bathroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="floor-heating-bathroom" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#bathroom'), $('#light-switch-bathroom'), $('#floor-heating-bathroom'), $('#alarm-bathroom'))" id="floor-heating-bathroom" checked>
                                <label class="onoffswitch-label" for="floor-heating-bathroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="alarm-bathroom" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#bathroom'), $('#light-switch-bathroom'), $('#floor-heating-bathroom'), $('#alarm-bathroom'))" id="alarm-bathroom" checked>
                                <label class="onoffswitch-label" for="alarm-bathroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="kitchen">Kitchen</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="light-switch-kitchen" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#kitchen'), $('#light-switch-kitchen'), $('#floor-heating-kitchen'), $('#alarm-kitchen'))" id="light-switch-kitchen" checked>
                                <label class="onoffswitch-label" for="light-switch-kitchen">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="floor-heating-kitchen" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#kitchen'), $('#light-switch-kitchen'), $('#floor-heating-kitchen'), $('#alarm-kitchen'))" id="floor-heating-kitchen" checked>
                                <label class="onoffswitch-label" for="floor-heating-kitchen">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="alarm-kitchen" class="onoffswitch-checkbox" OnClick="updateHouseArea($('#kitchen'), $('#light-switch-kitchen'), $('#floor-heating-kitchen'), $('#alarm-kitchen'))" id="alarm-kitchen" checked>
                                <label class="onoffswitch-label" for="alarm-kitchen">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/respond.js"></script>
    <script src="../Scripts/HouseArea/HouseArea.js"></script>
</body>
</html>