<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link href="../CSS/main.css" rel="stylesheet" />
</head>
<body>
    <section>
        <h1>Controll Smart Home</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0" id="tableTG">
                <thead>
                    <tr>
                        <th>Area Name</th>
                        <th>Lights</th>
                        <th>Floor Heating</th>
                        <th>Alarm</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td id="Livingroom">Livingroom</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="light-switch-Livingroom" class="onoffswitch-checkbox" onclick="updateHouseArea('Livingroom', $('#light-switch-Livingroom'), $('#floor-heating-Livingroom'), $('#alarm-Livingroom'))" id="light-switch-Livingroom">
                                <label class="onoffswitch-label" for="light-switch-Livingroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="floor-heating-Livingroom" class="onoffswitch-checkbox" onclick="updateHouseArea('Livingroom', $('#light-switch-Livingroom'), $('#floor-heating-Livingroom'), $('#alarm-Livingroom'))" id="floor-heating-Livingroom" checked>
                                <label class="onoffswitch-label" for="floor-heating-Livingroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="alarm-Kitchen" class="onoffswitch-checkbox" onclick="updateHouseArea('Livingroom', $('#light-switch-Livingroom'), $('#floor-heating-Livingroom'), $('#alarm-Livingroom'))" id="alarm-Livingroom" checked>
                                <label class="onoffswitch-label" for="alarm-Livingroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="Bedroom">Bedroom</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="light-switch-Bedroom" class="onoffswitch-checkbox" OnClick="updateHouseArea('Bedroom', $('#light-switch-Bedroom'), $('#floor-heating-Bedroom'), $('#alarm-Bedroom'))" id="light-switch-Bedroom">
                                <label class="onoffswitch-label" for="light-switch-Bedroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="floor-heating-Bedroom" class="onoffswitch-checkbox" onclick="updateHouseArea('Bedroom', $('#light-switch-Bedroom'), $('#floor-heating-Bedroom'), $('#alarm-Bedroom'))" id="floor-heating-Bedroom" checked>
                                <label class="onoffswitch-label" for="floor-heating-Bedroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="alarm-Kitchen" class="onoffswitch-checkbox" onclick="updateHouseArea('Bedroom', $('#light-switch-Bedroom'), $('#floor-heating-Bedroom'), $('#alarm-Bedroom'))" id="alarm-Kitchen" checked>
                                <label class="onoffswitch-label" for="alarm-Kitchen">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="Bathroom">Bathroom</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="light-switch-Bathroom" class="onoffswitch-checkbox" onclick="updateHouseArea('Bathroom', $('#light-switch-Bathroom'), $('#floor-heating-Bathroom'), $('#alarm-Bathroom'))" id="light-switch-Bathroom">
                                <label class="onoffswitch-label" for="light-switch-Bathroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="floor-heating-Bathroom" class="onoffswitch-checkbox" onclick="updateHouseArea('Bathroom', $('#light-switch-Bathroom'), $('#floor-heating-Bathroom'), $('#alarm-Bathroom'))" id="floor-heating-Bathroom" checked>
                                <label class="onoffswitch-label" for="floor-heating-Bathroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="alarm-Bathroom" class="onoffswitch-checkbox" onclick="updateHouseArea('Bathroom', $('#light-switch-Bathroom'), $('#floor-heating-Bathroom'), $('#alarm-Bathroom'))" id="alarm-Bathroom" checked>
                                <label class="onoffswitch-label" for="alarm-Bathroom">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="Kitchen">Kitchen</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="light-switch-Kitchen" class="onoffswitch-checkbox" onclick="updateHouseArea('Kitchen', $('#light-switch-Kitchen'), $('#floor-heating-Kitchen'), $('#alarm-Kitchen'))" id="light-switch-Kitchen">
                                <label class="onoffswitch-label" for="light-switch-Kitchen">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="floor-heating-Kitchen" class="onoffswitch-checkbox" onclick="updateHouseArea('Kitchen', $('#light-switch-Kitchen'), $('#floor-heating-Kitchen'), $('#alarm-Kitchen'))" id="floor-heating-Kitchen" checked>
                                <label class="onoffswitch-label" for="floor-heating-Kitchen">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" name="alarm-Kitchen" class="onoffswitch-checkbox" onclick="updateHouseArea('Kitchen', $('#light-switch-Kitchen'), $('#floor-heating-Kitchen'), $('#alarm-Kitchen'))" id="alarm-Kitchen" checked>
                                <label class="onoffswitch-label" for="alarm-Kitchen">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- Delete area by id -->
    <div class="btn-group" role="group" aria-label="...">
        <input type="text" placeholder="id" id="deleteId" />
        <button type="button" class="btn btn-danger" onclick="DeleteHouseArea()">Delete</button>
    </div>
    <!-- SignalR turning lights on/off -->
    <div class="page-header">
        <h3><span id="text-Livingroom"></span></h3>
    </div>
    <div class="page-header">
        <h3><span id="text-Bedroom"></span></h3>
    </div>
    <div class="page-header">
        <h3><span id="text-Bathroom"></span></h3>
    </div>
    <div class="page-header">
        <h3><span id="text-Kitchen"></span></h3>
    </div>
    <!-- Scripts -->
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="../signalR/hubs"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/respond.js"></script>
    <script src="../Scripts/HouseArea/HouseArea.js"></script>
</body>
</html>